In [2]:
import pytesseract
from PIL import Image
import pandas as pd
import io

In [4]:
pytesseract.pytesseract.tesseract_cmd = R'C:\Program Files (x86)\Tesseract-OCR\tesseract.exe'

In [31]:
for i in range(1,5):
    filename = "\Screenshot_" + str(i) + ".png"
    print(filename)

\Screenshot_1.png
\Screenshot_2.png
\Screenshot_3.png
\Screenshot_4.png

In [22]:
tex = pytesseract.image_to_string(Image.open(R'C:\Users\Zachary\Desktop\Screenshot_1.png'))

In [21]:
tex

' \n\n \n\n \n\nage interval uqx 1x an\n0 l 0.14 100000 90615\n1 4 0.07 85992 332453\n5 5 0.02 ? 396608\n10 5 0.01 78409 ?\n15 5 0.01 77425 ?\n20 5 0.02 76296 378066\n25 5 0.02 74930 371026\n30 5 0.02 73480 ?\n35 5 0.03 71712 353041\n40 5 0.04 69504 340105\n45 5 0.06 66538 322762\n50 5 0.09 62567 299492\n55 5 0.12 57230 269101\n60 5 0.17 ? 230056\n65 5 0.24 41612 183521\n70 5 0.33 31797 132929\n75 5 0.43 21374 84099\n80 5 0.57 12265 30663\nT50 1250429\n& 20567\n\n \n\n'

In [27]:
pd.DataFrame([tex.split(' ') for tex in tex.split('\n')]).dropna()

      0         1     2       3       4
6   age  interval   uqx      1x      an
7     0         l  0.14  100000   90615
8     1         4  0.07   85992  332453
9     5         5  0.02       ?  396608
10   10         5  0.01   78409       ?
11   15         5  0.01   77425       ?
12   20         5  0.02   76296  378066
13   25         5  0.02   74930  371026
14   30         5  0.02   73480       ?
15   35         5  0.03   71712  353041
16   40         5  0.04   69504  340105
17   45         5  0.06   66538  322762
18   50         5  0.09   62567  299492
19   55         5  0.12   57230  269101
20   60         5  0.17       ?  230056
21   65         5  0.24   41612  183521
22   70         5  0.33   31797  132929
23   75         5  0.43   21374   84099
24   80         5  0.57   12265   30663

In [4]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

In [5]:
df.to_excel(writer, sheet_name='Sheet1')

In [6]:
writer.save()